* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-image: url('./download.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading {
  text-align: center;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
